<h1>Shop Local, Support Local</h1>

<h5>Local is bigger than you think</h5>

<p>We believe there are amazing products being made by our friends, our neighbors, our community.  It's just hard to find out about it through all the noise of the internet.  We've done the sorting, and we've found some amazing things.</p>

<p>Know of an amazing local product?  Add it to our list of products so other can find out about it too?</p>

<p>We showcase Clothing, Food and Home products made by American Companies, Manufactured in the US, and/or assembled in the US.</p>

<p>Found an item on our list that shouldn't be there?  Flag it.</p>

<p>Check out our list of new products in review.  If you think it's awesome, vote for it to become part of our collection!</p>
