
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text">Shop Local, Support Local</h1>
      <div class="row center">
        <h5 class="header col s12 light">Local is bigger than you think</h5>
      </div>
      <div class="row center">
        <a href="#!/" id="download-button" class="btn-large waves-effect waves-light orange">Shop Our Collection</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Our users find the coolest local items on the internet</h5>

            <p class="light">We believe there are amazing products being made by our friends, our neighbors, our community.  It's just hard to find out about it through all the noise of the internet.  We've done the sorting, and we've found some amazing things. We showcase Clothing, Food and Home products made by American Companies, Manufactured in the US, and/or assembled in the US.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center">User Curated</h5>

            <p class="light">Know of an amazing local product?  Add it to our list of products so other can find out about it too.  Check out our list of new products in review.  If you think it's awesome, vote for it to become part of our collection!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">Keep it Local</h5>

            <p class="light">Found an item on our list that shouldn't be there?  Flag it, and let other users know.  After 3 flags, we'll take it down.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
