<div class="row">
    <form class="col s12 m6 offset-m3">
      <div class="row">
        <div class="input-field col s6">
          <input id="product_name" type="text" class="validate" ng-model="product.name">
          <label for="product_name">Product Name</label>
        </div>
        <div class="input-field col s6">
          <input id="company_name" type="text" class="validate" ng-model="product.company">
          <label for="company_name">Company Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="validate" ng-model="product.compWeb">
          <label for="company_website" >Company Website</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="product_link" type="text" class="validate" ng-model="product.link">
          <label for="product_link">Link to purchase Product</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="product_image" type="text" class="validate" ng-model="product.image">
          <label for="product_image">Link to Product Image</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="productDescript" class="materialize-textarea" ng-model="product.descript"></textarea>
          <label for="productDescript">Product Description:</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          Current price of item:
          <div class="input-field inline">
            <input id="price" type="text" class="validate" ng-model="product.price">
            <label for="price" data-error="wrong" data-success="right">$</label>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <select class="browser-default" ng-model="product.category">
              <option value="0" selected>Select Product Category</option>
              <option value="Home">Home</option>
              <option value="Clothing">Clothing</option>
              <option value="Food">Food</option>
              <option value="Other">Other</option>
            </select>
            <!-- <label>Select Product Category</label> -->
         </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>
              <input type="checkbox" id="companyUS" ng-model="product.uscompany"/>
              <label for="companyUS">This product is made by an United States Company</label>
            </p>
            <p>
              <input type="checkbox" id="assembledUS" ng-model="product.usassembled"/>
              <label for="assembledUS">This product is assembled in the United States</label>
            </p>
            <p>
              <input type="checkbox" id="manufacturedUS" ng-model="product.usmanufactured"/>
              <label for="manufacturedUS">This product is manufactured in the United States</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click=addProduct()>Submit
            <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
