<!-- banner -->


<div class="welcomeBanner">
  <!-- <img class="materialboxed" width="650" src="http://i.imgur.com/SUSCJXf.jpg"> -->
  <h1>Tag Line</h1>
  <h5>A little slug about who we are.</h5>
</div>

<!-- navigation -->
<!-- search -->
 <nav class="boardSearch">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" ng-model="productSearch">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      <!--select which category of products to look at-->
      <div class="nav-content">
        <ul class="tabs">
          <li class="tab"><a href="#!">All</a></li>
          <li class="tab"><a href="#!/products/home">Home</a></li>
          <li class="tab"><a href="#!/products/clothing">Clothing</a></li>
          <li class="tab"><a class="active" href="#!/products/food">Food</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- product cards -->

<div class="cardContainer">

  <div class="row">
      <div class="col s12 m6" ng-repeat="product in listAll | filter: productSearch | filter: limitCat">

        <div class="card {{product.category}}" >
          <p class="price">${{product.price}}</p>
          <div class="card-image">
              <a href="#">
              <img src={{product.image}}>
              </a>
          </div>
          <div class="card-content">
            <span class="card-title">{{product.name}}</span>
            <p><a href={{product.compWeb}}>{{product.company}}</a></p>
          </div>
          <div class="card-action">
            <a href="#">Flag as X</a>
            <a href="#" class="right">Vote Up</a>
            <a href="#" class="right">Vote Down</a>
          </div>
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end card container -->
