
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center cyan-text">Shop Local, Support Local</h1>
      <div class="row center">
        <h5 class="header col s12 light">Local is bigger than you think</h5>
      </div>
      <div class="row center">
        <a href="#!/" id="download-button" class="btn-large waves-effect waves-light cyan">Shop Our Collection</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Our users find the coolest items on the internet made by companies making a social impact.</h5>

            <p class="light">We believe there are amazing products being made by companies who use their power for good.  It's just hard to find out about it through all the noise of the internet.  We've done the sorting, and we've found some amazing things. We showcase Clothing, Food and Home products made by American Companies working to use their business to make a positive social change.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center">User Curated</h5>

            <p class="light">Know of an amazing product by an awesome company?  Add it to our list of products so other can find out about it too.  Check out our list of new products in review.  If you think it's awesome, vote for it to become part of our collection!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">Shopping for Good</h5>

            <p class="light">We focus on products made by American Companies, who use their business as an opportunity for social good. Some do it by dedicating part of their proceeds toward a specific cause. Others intentially provide jobs for demographics who often not given a chance. We also pride ourselves in quality, user loved products. Found an item on our list that shouldn't be in our collection?  Flag it, and let other users know.  After 3 flags, we'll take it down.</p>
          </div>
        </div>
      </div>
      <p class="finePrint center-align">We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites.</p>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
