<button ng-click="getAmazon()">AMAZON!!!!</button>


<div>
  <form ng-submit="searchAmazon()">
    <div class="row">

    <input class="col m" type="text" name="searchAmazon" placeholder="Search Amazon" ng-model="amazonSearchQuery.Keywords">

    <div class="input-field col m6">
      <select ng-model="amazonSearchQuery.searchIndex" class="browser-default">
        <option value="" disabled selected>Choose your search category</option>
        <option value="All">All</option>
        <option value="ArtsAndCrafts">Arts And Crafts</option>
        <option value="Fashion">Clothing</option>
        <option value="Grocery">Food</option>
        <option value="HomeGarden">Home</option>
      </select>
 <!--      <label>Category</label> -->
      <button type="submit">Search!</button>
    </div>
    </div> <!-- end of row -->

  </form>
</div>
