<!--   nav bar -->
<!-- mobile hamburger nav  -->
<ul class="side-nav" id="mobile-demo">
          <li><a href="#!/login">LogIn</a></li>
          <li><a href="#!/login" onclick="logOut()">LogOut</a></li>
          <li class="tab"><a href="#!/inreview">In Review</a></li>
          <li class="tab"><a href="#!/addProductThroughAmazon">Add Product</a></li>
        </ul>
<!-- traditional fixed nav -->
  <div class="navbar-fixed navArea">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo myLogo">Larger Local</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="tab"><a class="inReview" href="#!/inreview">In Review</a></li>
          <li class="tab"><a class="addProduct" href="#!/addProductThroughAmazon">Add Product</a></li>
          <li><a class="logInPage" href="#!/login">LogIn</a></li>
          <li><a href="#!/login" onclick="logOut()">LogOut</a></li>
        </ul>

      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="about" href="#!/about">About Us</a></li>
          <li class="tab"><a class="active home" href="#!/">See Our Collection</a></li>
        </ul>
      </div>
    </nav>
    <div id="test1" class="col s12"></div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>
<!-- end of nav bar -->

<!-- banner -->


<div class="welcomeBanner">
  <!-- <img class="materialboxed" width="650" src="http://i.imgur.com/SUSCJXf.jpg"> -->
  <h1 class="cyan-text">Shop Local, Support Local</h1>
  <h5>Local is bigger than you think.</h5>
</div>

<!-- navigation -->
<!-- search -->
 <nav class="boardSearch">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" ng-model="productSearch">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      <!--select which category of products to look at-->
      <div class="nav-content">
        <ul class="tabs">
          <li class="tab"><a class="allCat" href="#!/">All</a></li>
          <li class="tab"><a class="home" href="#!/products/home">Home Goods</a></li>
          <li class="tab"><a class="clothing" href="#!/products/clothing">Clothing</a></li>
          <li class="tab"><a class="active food" href="#!/products/food">Food</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- product cards -->

<div class="cardContainer">

  <div class="row">
      <div class="col s12 m6 l4 flexbox" ng-repeat="product in listAll | orderBy: '-countVotes'| filter: productSearch | filter: limitCat">
      <!--   -->


        <div class="card {{product.category}}  hoverable productCard">
          <p class="price">${{product.price}}</p>
          <div class="card-image productImage valign-wrapper" ng-click="openModule(product.key)">
          <!-- Modal Trigger -->
              <!-- <a href="#" ng-click="openModule()"> -->
              <img class="center" ng-src={{product.image}}>
              <!-- </a> -->
          </div>
          <div class="card-content cardInfo">
            <span class="card-title productNameCard">{{product.name}}</span>
            <p> by
              <a target="_blank" href={{product.compWeb}}>{{product.company}}</a>
              <a class="right voteLink" ng-click="upVote(product.key, product.votesArray)""><i class="material-icons">thumb_up</i></a>
            </p>
          </div>
          <div class="card-action cardBottomSection">
            <p class="itemFlag" ng-if="(product.flags)">This product has been flagged</p>
            <p ng-click="flagItem(product.key)" class="flagItem"><i class="material-icons">flag</i>flag if not local</p>


            <span href="#" class="right votes">{{product.countVotes}}<span ng-click="upVote(product.key, product.votesArray)"> likes</span>

          </div>
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end card container -->


  <!-- Detail Modal Structure -->
  <div id="modal1" class="modal detailProductCard flex">
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div> <!-- end of modal footer -->
    <div class="modal-content">

      <div class="row detailmodal">
        <div class="col-m6 column1">

            <a target="_blank" href={{thisProduct.link}}>
              <img ng-src={{thisProduct.image}} alt="image of product" class="detailProductImage">
            </a>

          <p class="productDescript">{{thisProduct.descript}}</p>
        </div>
        <div class="col-m6 right column2">
          <h4 class="right-align productName"><a target="_blank" href={{thisProduct.link}}>{{thisProduct.name}}</a></h4>
          <h5 class="right-align">by <a class="cyan-text" target="_blank" href={{thisProduct.compWeb}}> {{thisProduct.company}}</a></h5>
          <p class="right-align"><a class="cyan white-text detailPrice" target="_blank" href={{thisProduct.link}}>${{thisProduct.price}}</a></p>
          <p class="right-align numberOfVotes">{{thisProduct.countVotes}} people like this</p>
          <a ng-if="(alreadyLiked !== true)" class="waves-effect right waves-green upVotes" ng-click="upVote()">Give this product a <i class="material-icons">thumb_up</i>   </a>
          <p ng-if="(alreadyLiked === true)" class="waves-effect right waves-green upVotes" ng-click="upVote()">You like this product</p>
          <div class="spacer"></div>
           <p class="flag cyan-text" ng-click="flagItem(thisProduct.key)"><i class="material-icons">flag</i> Report an issue with this product</p>
           <p class="finePrint right-align cardFinePrint">Producted added to collection on {{thisProduct.addDate}}, price listed is based on add date.</p>
        </div>
      </div> <!-- end of row -->
    </div> <!-- end of modal content -->

  </div> <!-- end of class modal -->






<!-- Flag Modal Structure -->
  <div id="modal3" class="modal detailProductCard flex">
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
    <!-- end of modal footer -->
    <div class="modal-content">

      <div class="row detailmodal">

        <div class="col-m6 column1">
          <h5 class="left-align">{{flaggedProduct.name}}</h5>
          <p class="left-align">by {{flaggedProduct.company}}</p>
          <p class="right-align">${{flaggedProduct.price}}</p>
            <a target="_blank" href={{flaggedProduct.link}}>
              <img src={{flaggedProduct.image}} alt="image of product" class="detailProductImage">
            </a>
        </div>

        <div class="col-m6 right column2">
          <p class="productDescript">Description: {{flaggedProduct.descript}}</p>
          <form class="flagForm flex" ng-submit=flagProduct(flaggedProduct)>
            <div>
              <label>Why are you flagging this product?</label>
              <input type="text" ng-model="flagComment" required>
            </div>

            <div class="spacer"></div>
            <button type="submit" class="center btn">Flag this product</button>
          </form>
          <div>
            <h5>Previous Flag Comments:</h5>
            <div ng-repeat="comments in flagComments">
              <p>{{comments}}</p>
            </div>
          </div>
          </div>
        </div>
      </div>  <!-- end of row -->
   </div> <!-- end of modal content -->
  </div> <!-- end of class modal -->
