/**Colors **/

$friendlyLinkColor: #ffab40;
$buyingLinkColor: teal;


html {
    font-family: Raleway, Calibri, Trebuchet, sans-serif;
}





/*****Active Class****/

.active {
  border-bottom: 2px solid white;
}

.activeCat {
  border-bottom: 2px solid;
}


/**flex attributes to keep footer at bottom **/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/**Nav Bar*/

.navArea {
  margin-bottom: 10%;
}

/*****Home Page Styling****/

.welcomeBanner {
  text-align: center;
}

.boardSearch {
  margin-bottom: 10%;
}


.productImage {
  height: 400px;
  overflow: hidden;
}



.productImage img {
  margin: 0 auto;
  height: auto;
  width: auto;
}

.cardInfo {
  height: 141px;
  overflow: hidden;
}

.voteLink {
  color: $friendlyLinkColor;
}



/*******Home Page Product Card Styling*************/
.cardContainer {
  border-top: 2px solid black;
}

  .price {
    text-align: right;
    padding-right: 2rem;
    padding-top: 1rem;
  }

  .price p {
    display: inline;
    background-color: pink;
  }

.votes {
  text-align: right;
}


/*******Detail Product Card********/


.detailmodal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  align-items: stretch;
}

.column1{
  width: 45%;
  margin-top: -7%;
}

.detailProductImage {
  width: 100%;
}

.column2 {
  margin-top: -3%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.productDescript {
  text-align: justify;
  width: 300px;
  max-height: 100px;
  overflow: scroll;
}

.spacer {
  flex: 1 0 auto;
}

.detailPrice {
  font-size: 2em;
  padding: .5em;
}

.upVotes {
  color: $friendlyLinkColor;
  align-self: flex-end;
}

.flag {
  align-self: flex-end;
}

.votes {
  margin-top: -2.5em;
}

.itemFlag {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: red;
}

.cardBottomSection {
  max-height: 91px;
}

/********fonts and texts on Product card***********/

.flag {
  font-size: 0.5em;
}

.finePrint {
  font-size: 0.5em;
  max-width: 80%;
}

.cardFinePrint {
  align-self: flex-end;
}

.productName {
  max-height: 100px;
  overflow: scroll;
}

.productNameCard {
  max-height: 62px;
  overflow: scroll;
}

/********LogIn Form***********/
.loginForm {
  margin-bottom: 10%;
  margin-top: 10%;
}

.loginForm label {
  text-align: left;
}


.regbutton:hover {
  color: white;
}



/********
form {

  padding: 10em;
  border-radius: 7%;
}
********/


/********Amazon Add***********/

.amazonCheck {
  padding: 2rem;
  line-height: 0.8;
}

.addManually {
  margin: 1em 1em 1em;
  display: block;
}

.submitSearch {
  margin: auto;
}

.space {
  display: block;
}


/********Amazon Add Modal***********/

.amazonCardName {
  max-height: 100px;
  overflow: scroll;
}


.productDescriptAmazon {
  margin: 0 auto;
  max-height: 105px;
  overflow: scroll;
  padding: 0 2rem;
}

.description {
  font-weight: bold;
}
