/**flex attributes to keep footer at bottom **/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/**Nav Bar*/

.navArea {
  margin-bottom: 10%;
}

/*****Home Page Styling****/

.welcomeBanner {
  text-align: center;
}

.boardSearch {
  margin-bottom: 10%;
}


.productImage {
  height: 400px;
  overflow: hidden;
}



.productImage img {
  margin: 0 auto;
  height: auto;
  width: auto;
}





/*******Home Page Product Card Styling*************/
.cardContainer {
  border-top: 2px solid black;
}

  .price {
    text-align: right;
    padding-right: 2rem;
    padding-top: 1rem;
  }

  .price p {
    display: inline;
    background-color: pink;
  }

.votes {
  text-align: right;
}


/*******Detail Product Card********/
.detailProductCard {
  flex-direction: column;
}

/********LogIn Form***********/
.loginForm {
  margin-bottom: 10%;
  margin-top: 10%;
}




.regbutton:hover {
  color: white;
}



/********
form {
  border: 2px solid;
  padding: 10em;
  border-radius: 7%;
}
********/
