
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.navArea {
  margin-bottom: 10%;
}

.welcomeBanner {
  text-align: center;
}

.boardSearch {
  margin-bottom: 10%;
}

.cardContainer {
  border-top: 2px solid black;
}

  .price {
    text-align: right;
    padding-right: 2rem;
    padding-top: 1rem;
  }

  .price p {
    display: inline;
    background-color: pink;
  }

.votes {
  text-align: right;
}


/********
form {
  border: 2px solid;
  padding: 10em;
  border-radius: 7%;
}
********/
